.home-banner {
  position: absolute;
  top: 200px;
  left: 420px;
  display: flex;
  width: fit-content;
  img {
    height: 440px;
  }
}

.section-name {
  display: flex;
  align-items: center;
  .side-div {
    height: 14px;
    border: 8px solid #db4444;
    border-radius: 4px;
  }
  h3 {
    color: #db4444;
    padding: 0 15px;
    font-size: 22px;
  }
}

.section-title {
  font-size: 30px;
}

.todays {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 50px 350px;
  margin-top: 100px;

  .view-all-products-btn {
    margin-bottom: 0;
  }
}

.scroll-btns {
  display: flex;
  gap: 20px;

  .scroll-btn {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      scale: 1.05;
      background-color: #808080;
    }

    .arrow-img {
      height: 30px;
    }
  }
}

.sale-products {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  max-width: fit-content;
  padding-left: 200px;
  margin: 50px 0;

  .ProductCard {
    min-width: fit-content;
    margin: 20px 30px;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 50px 350px;

  .hr {
    color: #141414;
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 40px;
  }
}

.categories-list {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;

  .category {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background-color: #b3b3b3;
    }
  }

  .category-image {
    height: 56px;
  }
}

.month {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 30px 350px;
}

.title-and-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-all-btn {
  width: 150px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  align-self: center;
  background-color: #db4444;
  color: #fafafa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: #ff0000bd;
  }
}

.categories-banner {
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;

  .categories-banner-image {
    width: 63.2%;
  }
}

.products-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 50px 350px;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  padding: 40px 0;
}

.view-all-products-btn {
  width: 250px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  align-self: center;
  background-color: #db4444;
  color: #fafafa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 50px;
  transition: all 0.5s;

  &:hover {
    background-color: #ff0000bd;
  }
}

.new-arrivals {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 20px 350px;
}

.new-arrival {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 0;

  .product-title {
    font-weight: 600;
    font-size: 25px;
  }

  .product-description {
    color: #fafafa;
  }

  .shopnow-btn {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    width: 84px;
    border-bottom: 1px solid #808080;
    cursor: pointer;
  }
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  color: white;
  height: 600px;
  width: 600px;
  padding: 40px;
  box-sizing: border-box;
  background-image: url("/PS5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: black;
}
.section-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 600px;
  width: 600px;

  .top-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    color: white;
    height: 50%;
    height: 300px;
    width: 600px;
    padding: 40px;
    box-sizing: border-box;
    background-image: url("/WomenCollection.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: black;
  }

  .bottom-section {
    display: flex;
    height: 300px;
    width: 600px;
    gap: 30px;

    .left-section {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 20px;
      color: white;
      height: 300px;
      width: 300px;
      padding: 40px;
      box-sizing: border-box;
      background-image: url("/Speaker.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #191919;
    }

    .right-section {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 20px;
      color: white;
      height: 300px;
      width: 300px;
      padding: 40px;
      box-sizing: border-box;
      background-image: url("/Perfume.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #191919;
    }
  }
}

.value-added-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 150px 450px;
}

.value-added-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;

  .service-image {
    width: 100px;
    margin-bottom: 20px;
  }

  .service-title {
    font-weight: 600;
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  .home-banner {
    top: 100px;
    left: 170px;

    img {
      height: 200px;
    }
  }

  .home {
    padding: 0;
  }

  .todays {
    gap: 5px;
    padding: 10px 40px;
    margin-top: 9px;
  }
}
